figure.card {
  background: #42b078;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  background: #1dafe7;
  text-align: center;
  cursor: pointer;
}


figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.4;
  max-width: none;
  width: calc(100% + 20px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-10px,0,0);
  backface-visibility: hidden;
}

figure:hover img {
  opacity: 0.2;
}

figure figcaption {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  backface-visibility: hidden;
}

figure.card h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
  margin: 0;
  font-weight: 300;
  font-size: 1.2em;
  & span {
    font-weight: 800;
  }
}

figure.card h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  transition: transform 0.35s;
  transform: translate3d(-100%,0,0);
}

figure.card:hover h2::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


figure.card p {
  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.card:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.card figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
