body {
  background: #f4f4f4;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: $title-font-family;
  text-transform: uppercase;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
  margin-top: 2em;
}

h3 {
  font-size: 2em;
  border-bottom: 1px solid $bg-color;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.4em;
}



nav {
  position: absolute;
  right: 0;
  top: 30px;

  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 1em;
  }
}

.wrapper {
  background: $brand-bg-color;
  margin: 1em auto;
  padding: 30px 100px;
  box-sizing: border-box;
}

header {
  background: $brand-color;
  color: $brand-bg-color;

  h1, h2, h3, h4 {
    text-transform: none;
    border: none;
  }

  .wrapper {
    background: transparent;
    position: relative;
    margin-top: 0;
  }

  p {
    width: 66.66%;
    margin: 0 auto 2em auto;
  }

  a.portfolio {
    margin-bottom: 2em;
  }

  h2, h3 {
    text-align: center;
    text-transform: capitalize;
  }

  /**
   * Links
   */
  a {
      color: $brand-bg-color;
      text-decoration: none;

      &:visited {
          color: darken($brand-bg-color, 15%);
      }

      &:hover {
          color: $brand-bg-color;
          text-decoration: underline;
      }

      &[href^="#"] {
        text-align: center;
        display: block;
      }
  }
}

.works {
  ul {
    display: flex;
    margin-left: 0;
  }

  li {
    flex: 1;
    list-style-type: none;
    margin: 1em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.skills {

  ul {
    margin: 0;
  }

  li {
    flex: 1;
    list-style-type: none;
  }
}
